<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="~/css/site.css" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    <script src="~/lib/signalr/jquery.signalR.js"></script>

    <script src="~/lib/core-js/client/shim.js"></script>
    <script src="~/lib/zone.js/dist/zone.js"></script>
    <script src="~/lib/reflect-metadata/Reflect.js"></script>
    <script src="~/lib/systemjs/dist/system.src.js"></script>

    <script src="/signalr/js"></script>
    <script src="~/js/systemjs.config.js"></script>
    <script>
      System.import('app').catch(function(err){ console.error(err); });
    </script>
</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Live Feed</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li class="active"><a href="https://chsakell.com" target="_blank"><span class="glyphicon glyphicon-sunglasses"></span> About</a></li>
                <li><a href="https://github.com/chsakell/aspnet-core-signalr-angular" target="_blank"><span class="glyphicon glyphicon-save"></span> Source code</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="https://github.com/chsakell" target="_blank"><span class="glyphicon glyphicon-star"></span> Github</a></li>
                <li><a href="https://twitter.com/chsakellsblog" target="_blank"><span class="glyphicon glyphicon-volume-up"  target="_blank"></span> Twittwer</a></li>
                <li><a href="https://www.facebook.com/chsakells.blog/" target="_blank"><span class="glyphicon glyphicon-heart"  target="_blank"></span> Facebook</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container">
        <my-app>Loading...</my-app>
    </div>

    <footer class="navbar-fixed-bottom">
        <div style="color:white">Developed by Chris S. for <a href="https://chsakell.com" target="_blank">chsakell's Blog</a> </div>
    </footer>

    <!--
    <script type="text/javascript">
    $(function () {
        var broadcaster = $.connection.broadcaster;

        broadcaster.client.message = function (text) {
            alert(text);
        };

        $.connection.hub.start().done(function () {
            broadcaster.server.broadcast('hello from client');
        });
     });
    </script>
    -->
</body>
</html>