<!DOCTYPE html>
<html>
<head>
    <base href="/">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
	<link rel="stylesheet" href="~/css/site.css" />

    <script src="~/lib/jquery/dist/jquery.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    <script src="~/lib/signalr/jquery.signalR.js"></script>

    <script src="~/lib/core-js/client/shim.js"></script>
    <script src="~/lib/zone.js/dist/zone.js"></script>
    <script src="~/lib/reflect-metadata/Reflect.js"></script>
    <script src="~/lib/systemjs/dist/system.src.js"></script>

    <script src="/signalr/js"></script>
    <script src="~/js/systemjs.config.js"></script>
    <script>
      System.import('app').catch(function(err){ console.error(err); });
    </script>
</head>
<body>
    <div class="container">
        <my-app>Loading...</my-app>
    </div>
    <!--
    <script type="text/javascript">
    $(function () {
        var broadcaster = $.connection.broadcaster;

        broadcaster.client.message = function (text) {
            alert(text);
        };

        $.connection.hub.start().done(function () {
            broadcaster.server.broadcast('hello from client');
        });
     });
    </script>
    -->
</body>
</html>