body {
    background-color: #f5f5f5;
}

.box {
    height: 50px;
    background-color: #337ab7;
    margin:5px;
    padding: 10px;
    text-align: center;
}

.teamScore {
    color:orange;
    font-weight: bold;
}

.teamName {
    color:ghostwhite;
}

th, td {
    text-align: center;
}

.feed-table {
    height: 190px;
    overflow: auto;
}

.feed-time {
    color:brown;
    font-size: 10px;
}

.feed-update {
    color: #337ab7;
}

.feed-highlight {
    background-color: #eee;
    -webkit-transition: background-color 2000ms linear;
    -moz-transition: background-color 2000ms linear;
    -o-transition: background-color 2000ms linear;
    -ms-transition: background-color 2000ms linear;
    transition: background-color 2000ms linear;
}