body {
    background-color: #f5f5f5;
}

.box {
    height: 50px;
    background-color: #337ab7;
    margin:5px;
    padding: 10px;
    text-align: center;
}

.teamScore {
    color:orange;
    font-weight: bold;
}

.teamName {
    color:ghostwhite;
}

th, td {
    text-align: center;
}

.feed-table {
    height: 190px;
    overflow: auto;
}