body {
    background-color: #333;
}

.box {
    height: 50px;
    background-color: whitesmoke;
    margin:5px;
    padding: 10px;
    text-align: center;
}

.teamScore {
    color:orange;
    font-weight: bold;
}

.teamName {
    color:#333;
}

th, td {
    text-align: center;
}