<table class="table table-bordered box">
    <thead>
        <tr>
            <th>Team</th>
            <th>Score</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="teamName">{{match.Host}}</span></td>
            <td><span class="teamScore"> {{match.HostScore}} </span></td>
        </tr>
        <tr>
            <td><span class="teamName"> {{match.Guest}} </span></td>
            <td><span class="teamScore">{{match.GuestScore}}</span></td>
        </tr>
        <tr>
            <td>
                <span class="label label-success">{{match.Type}}</span>
            </td>
            <td>
                <button type="button" class="btn btn-default btn-xs" (click)="subscribe()">
                            Subscribe to feed
                        </button>
            </td>
        </tr>
    </tbody>
</table>